<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>StoryBooks</title>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!--Font awesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Local css -->
  <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    {{> _header}} <!--inserting the partial from views/partials/_header-->
    <div class="container">
    {{{body}}}
  </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
         M.Sidenav.init(document.querySelector('.sidenav'))
         // M.FormSelect.init(document.querySelector('#status'))
         // CKEDITOR.replace('body', {
         //     plugins: 'wysiwygarea, toolbar, basicstyles, link'
         // })
     </script>
  </body>
</html>
