<div>
  Search Products:
  <input type="text" [(ngModel)]="productSearchvalue" style="margin-right: 1rem;">
  <input type="button" value="Search" (click)="onClicked()">
  <table>
    <caption>Search results</caption>
    <tr>
      <th>Product ID</th>
      <th>Product Name</th>
      <th>Product Cost</th>
    </tr>
    <tr *ngFor="let product of products">
      <td>{{product._id}}</td>
      <td>{{product.productname}}</td>
      <td>{{product.price}}</td>
    </tr>
  </table>
  <br class="mt-3">

    Product ID: <input type="text" placeholder="1234555" [(ngModel)]="newProduct._id">
    <br>
    Product Name: <input type="text" placeholder="MR.Stark" [(ngModel)]="newProduct.productname">
    <br>
    Product Cost: <input type="number" placeholder="200000000" [(ngModel)]="newProduct.price">
    <br>
    <input type="button" value="Add" (click)="onInsert()">
    {{insertionStatus}}
    <br class="mt-3">
    <h2>Update product</h2>
    Current Product ID: <input type="text" placeholder="1234555" [(ngModel)]="updateProduct._id">
    <br>
    New Product Name: <input type="text" placeholder="Mr.Stark" [(ngModel)]="updateProduct.productname">
    <br>
    New Product Cost: <input type="number" placeholder="2000000000" [(ngModel)]="updateProduct.price">
    <br>
    <input type="button" value="Submit" (click)="onUpdate()">
    {{updateStatus}}
    <br class="mt-3">
    <h2>Delete Product</h2>
    Product ID: <input type="text" placeholder="1234555" [(ngModel)]="deleteProductID">
    <br>
    <input type="button" value="Delete" (click)="onDelete()">
    <br>
    {{deleteStatus}}
</div>
