<div>
  Search Products:
  <input type="text" [(ngModel)]="productSearchvalue" style="margin-right: 1rem;">
  <input type="button" value="Search" (click)="onClicked()">
  <table>
    <caption>Search results</caption>
    <tr>
      <th>Product ID</th>
      <th>Product Name</th>
      <th>Product Cost</th>
    </tr>
    <tr *ngFor="let product of products">
      <td>{{product._id}}</td>
      <td>{{product.productname}}</td>
      <td>{{product.price}}</td>
    </tr>
  </table>
  <br class="mt-3">

    Product ID: <input type="text" placeholder="1234555" [(ngModel)]="newProduct._id">
    <br>
    Product Name: <input type="text" placeholder="MR.Stark" [(ngModel)]="newProduct.productname">
    <br>
    Product Cost: <input type="text" placeholder="200000000" [(ngModel)]="newProduct.price">
    <br>
    <input type="button" value="Add" (click)="onInsert()">
    {{insertionStatus}}
</div>
